%section#photogalley.bg-light.page-section
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading.text-uppercase Photo Gllery
        %h3.section-subheading.text-muted 私が生まれ育った街、滋賀県高島市はいいところばかり！ちょこっと紹介いたします！
    .row
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal1"}
          .portfolio-hover
            .portfolio-hover-content
              -# %i.fas.fa-plus.fa-3x
          = image_tag "img/photogalley/sakura.jpeg", alt:"", class:"img-fluid", size: "350x262"
          -# %img.img-fluid{:alt => "", :src => "img/portfolio/01-thumbnail.jpg"}/
        .portfolio-caption
          %h4 Threads
          %p.text-muted Illustration
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal2"}
          .portfolio-hover
            .portfolio-hover-content
              -# %i.fas.fa-plus.fa-3x
          = image_tag "img/portfolio/01-thumbnail.jpg", alt:"", class:"img-fluid"
        .portfolio-caption
          %h4 Explore
          %p.text-muted Graphic Design
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal3"}
          .portfolio-hover
            .portfolio-hover-content
              -# %i.fas.fa-plus.fa-3x
          = image_tag "img/portfolio/01-thumbnail.jpg", alt:"", class:"img-fluid"
        .portfolio-caption
          %h4 Finish
          %p.text-muted Identity
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal4"}
          .portfolio-hover
            .portfolio-hover-content
              -# %i.fas.fa-plus.fa-3x
          = image_tag "img/portfolio/01-thumbnail.jpg", alt:"", class:"img-fluid"
        .portfolio-caption
          %h4 Lines
          %p.text-muted Branding
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal5"}
          .portfolio-hover
            .portfolio-hover-content
              -# %i.fas.fa-plus.fa-3x
          = image_tag "img/portfolio/01-thumbnail.jpg", alt:"", class:"img-fluid"
        .portfolio-caption
          %h4 Southwest
          %p.text-muted Website Design
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal6"}
          .portfolio-hover
            .portfolio-hover-content
              -# %i.fas.fa-plus.fa-3x
          = image_tag "img/portfolio/01-thumbnail.jpg", alt:"", class:"img-fluid"
        .portfolio-caption
          %h4 Window
          %p.text-muted Photography