/ Modal 1
#portfolioModal1.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .close-modal{"data-dismiss" => "modal"}
        .lr
          .rl
      .container
        .row
          .col-lg-8.mx-auto
            .modal-body
              / Project Details Go Here
              %h2.text-uppercase 海津大崎
              = image_tag "img/photogalley/sakura.png", alt:"", class: "img-fluid.d-block mx-auto", size: "400x300"
              %p 日本のさくら名所100選にも選ばれている海津大崎の桜。樹齢80年を越える老桜から次世代へ引き継ぐ若木まで約800本の華麗なソメイヨシノがびわ湖岸4kmにわたり続きます。実家から数百メートルの距離にあった海津大崎。毎年、花見といえばここに来ていました。本当にきれいです。是非訪れてみてください。
              %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                = fa_icon("times")
                Close
/ Modal 2
#portfolioModal2.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .close-modal{"data-dismiss" => "modal"}
        .lr
          .rl
      .container
        .row
          .col-lg-8.mx-auto
            .modal-body
              / Project Details Go Here
              %h2.text-uppercase 琵琶湖
              = image_tag "img/photogalley/biwako.jpeg", alt:"", class: "img-fluid.d-block mx-auto", size: "400x300"
              %p 高島市というか滋賀県といえばですね。私も滋賀出身を誰かに話すと「あ〜あの琵琶湖のある県の」と高確率で言われます。ていうか他府県の人からすると滋賀県ってそのイメージしかないのでしょう笑。そんなみなさんに滋賀県民定番の一言「滋賀を馬鹿にしたら琵琶湖の水止めるよ」
              %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                = fa_icon("times")
                Close
/ Modal 3
#portfolioModal3.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .close-modal{"data-dismiss" => "modal"}
        .lr
          .rl
      .container
        .row
          .col-lg-8.mx-auto
            .modal-body
              / Project Details Go Here
              %h2.text-uppercase メタセコイヤ並木
              = image_tag "img/photogalley/momiji.jpeg", alt:"", class: "img-fluid.d-block mx-auto", size: "400x300"
              %p 高島市の紹介と言いながら、どうしても実家のある街「マキノ町」の紹介になってしまいますね。はい、全国的にも結構有名になってきたマキノ町メタセコイヤ並木です。写真では秋の紅葉時期のものですが、季節により四季折々の景観が楽しめます。まあでも秋がおすすめです笑
              %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                = fa_icon("times")
                Close
/ Modal 4
#portfolioModal4.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .close-modal{"data-dismiss" => "modal"}
        .lr
          .rl
      .container
        .row
          .col-lg-8.mx-auto
            .modal-body
              / Project Details Go Here
              %h2.text-uppercase 箱館山
              = image_tag "img/photogalley/hakodate.jpeg", alt:"", class: "img-fluid.d-block mx-auto", size: "400x300"
              %p 高島市の紹介と言いながら、どうしても実家のある街「マキノ町」の紹介になってしまいますね。はい、全国的にも結構有名になってきたマキノ町メタセコイヤ並木です。写真では秋の紅葉時期のものですが、季節により四季折々の景観が楽しめます。まあでも秋がおすすめです笑
              %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                = fa_icon("times")
                Close
/ Modal 5
#portfolioModal5.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .close-modal{"data-dismiss" => "modal"}
        .lr
          .rl
      .container
        .row
          .col-lg-8.mx-auto
            .modal-body
              / Project Details Go Here
              %h2.text-uppercase 白髭神社
              = image_tag "img/photogalley/sirahige.jpeg", alt:"", class: "img-fluid.d-block mx-auto", size: "400x300"
              %p 高島市の紹介と言いながら、どうしても実家のある街「マキノ町」の紹介になってしまいますね。はい、全国的にも結構有名になってきたマキノ町メタセコイヤ並木です。写真では秋の紅葉時期のものですが、季節により四季折々の景観が楽しめます。まあでも秋がおすすめです笑
              %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                = fa_icon("times")
                Close
/ Modal 6
#portfolioModal6.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .close-modal{"data-dismiss" => "modal"}
        .lr
          .rl
      .container
        .row
          .col-lg-8.mx-auto
            .modal-body
              / Project Details Go Here
              %h2.text-uppercase マキノサニービーチ
              = image_tag "img/photogalley/sani-bi-chi.jpeg", alt:"", class: "img-fluid.d-block mx-auto", size: "400x300"
              %p 高島市の紹介と言いながら、どうしても実家のある街「マキノ町」の紹介になってしまいますね。はい、全国的にも結構有名になってきたマキノ町メタセコイヤ並木です。写真では秋の紅葉時期のものですが、季節により四季折々の景観が楽しめます。まあでも秋がおすすめです笑
              %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                = fa_icon("times")
                Close
