%section#photogalley.bg-light.page-section
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading.text-uppercase Photo Gllery
        %h3.section-subheading.text-muted 私が生まれ育った街、滋賀県高島市はいいところばかり！ちょこっと紹介いたします！
    .row
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal1"}
          .portfolio-hover
            .portfolio-hover-content
          = image_tag "img/photogalley/sakura.png", alt:"", class:"img-fluid", size: "350x262"
        .portfolio-caption
          %h4 海津大崎
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal2"}
          .portfolio-hover
            .portfolio-hover-content
          = image_tag "img/photogalley/biwako.jpeg", alt:"", class:"img-fluid", size: "350x262"
        .portfolio-caption
          %h4 琵琶湖
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal3"}
          .portfolio-hover
            .portfolio-hover-content
          = image_tag "img/photogalley/momiji.jpeg", alt:"", class:"img-fluid", size: "350x262"
        .portfolio-caption
          %h4 メタセコイヤ並木
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal4"}
          .portfolio-hover
            .portfolio-hover-content
          = image_tag "img/photogalley/momiji.jpeg", alt:"", class:"img-fluid", size: "350x262"
        .portfolio-caption
          %h4 Lines
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal5"}
          .portfolio-hover
            .portfolio-hover-content
          = image_tag "img/photogalley/sakura.png", alt:"", class:"img-fluid", size: "350x262"
        .portfolio-caption
          %h4 Southwest
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal6"}
          .portfolio-hover
            .portfolio-hover-content
          = image_tag "img/photogalley/sakura.png", alt:"", class:"img-fluid", size: "350x262"
        .portfolio-caption
          %h4 Window