%section#profile.bg-light.page-section
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading.text-uppercase profile
        %h3.section-subheading.text-muted I will introduce myself.
    .row
      .col-sm-12.text-center
        .team-member
          = image_tag "img/myphoto.jpeg", alt:"", class:"mx-auto.rounded-circle"
          %h4 Shun Fujiwara
          .row
            .col-lg-8.mx-auto.text-center
              %p.large.text-muted 　１９８７年生まれの３２歳　一児の父 滋賀県生まれの滋賀育ちで広大な琵琶湖を眺めながら、自然豊な土地ですくすくと育つ。元小学校教員であり地元の小学校に７年間勤務。サッカー、プロレスを愛し、現在はプログラマーを目指し日々勉強中。
          %ul.list-inline.social-buttons
            %li.list-inline-item
              = link_to('#') do
                = fa_icon("facebook-square")
            %li.list-inline-item
              = link_to('#') do
                = fa_icon("instagram")
            %li.list-inline-item
              = link_to('#') do
                = fa_icon("twitter-square")
