%section#profile.bg-light.page-section
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading.text-uppercase profile
        %h3.section-subheading.text-muted I will introduce myself.
    .row
      .col-sm-12.text-center
        .team-member
          = image_tag "img/myphoto.jpeg", alt:"", class:"mx-auto.rounded-circle"
          %h4 
            = @profile.name
          .row
            .col-lg-8.mx-auto.text-center
              %p.large.text-muted 
                = @profile.text
          %ul.list-inline.social-buttons
            %li.list-inline-item
              = link_to('#') do
                = fa_icon("facebook-square")
            %li.list-inline-item
              = link_to('#') do
                = fa_icon("instagram")
            %li.list-inline-item
              = link_to('#') do
                = fa_icon("twitter-square")
