= render 'module/navbar'
/ Header
= render 'module/header'
/ Profile
= render 'module/profile'
/ Personal History
= render 'module/personalhistory'
/ Photogallery
= render 'module/photogallery'
/ Photogallery_Modals
= render 'module/photogallery_modals'
/ Services
= render 'module/portfolio'
/ Clients
= render 'module/clients'
/ Contact
= render 'module/contact'
/ Footer
= render 'module/footer'